// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
	@include mat.theme(
		(
			color: (
				theme-type: light,
				primary: mat.$azure-palette,
				tertiary: mat.$blue-palette
			),
			typography: Roboto,
			density: 0
		)
	);
} /* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.multiline-tooltip {
	white-space: pre-line;
}

th.border-left {
	border-left: 1px solid #85948f;
}

th.border-right {
	border-right: 1px solid #85948f;
}

.positive {
	color: var(--mat-sys-primary);
}

.negative {
	color: var(--mat-sys-error);
}

.center-spinner {
	margin: 32px auto;
}
