@if (statsResource.isLoading()) {
	<mat-spinner class="center-spinner"></mat-spinner>
} @else {
	<si-stats-filter title="MLB Pitchers" [columns]="columnWeights()" (updateFilter)="updateFilterColumn($event)">
		<table mat-table [dataSource]="dataSource() ?? []" recycleRows>
			<ng-container matColumnDef="Rank">
				<th mat-header-cell *matHeaderCellDef></th>
				<td mat-cell *matCellDef="let element; let i = index">{{ paginator.pageIndex * paginator.pageSize + i + 1 }}</td>
			</ng-container>

			<ng-container matColumnDef="Name">
				<th mat-header-cell *matHeaderCellDef>Name</th>
				<td mat-cell *matCellDef="let element">
					{{ element.name }}
					@if (seasons().length > 1) {
						({{ element.season }})
					}
				</td>
			</ng-container>

			<ng-container matColumnDef="Team">
				<th mat-header-cell *matHeaderCellDef>Team</th>
				<td mat-cell *matCellDef="let element">{{ element.team }}</td>
			</ng-container>

			<ng-container matColumnDef="Position">
				<th mat-header-cell *matHeaderCellDef>Pos</th>
				<td mat-cell *matCellDef="let element">{{ element.position }}</td>
			</ng-container>

			<ng-container matColumnDef="Games">
				<th mat-header-cell *matHeaderCellDef matTooltip="Games (Starts)">G</th>
				<td mat-cell *matCellDef="let element">{{ element.games }} ({{ element.starts }})</td>
			</ng-container>

			<ng-container matColumnDef="W/L">
				<th mat-header-cell *matHeaderCellDef>W/L</th>
				<td mat-cell *matCellDef="let element" [matTooltip]="element.winLossPercentage | number: '1.2-2'">
					{{ element.wins }} / {{ element.losses }}
				</td>
			</ng-container>

			<ng-container matColumnDef="ERA">
				<th mat-header-cell *matHeaderCellDef>ERA</th>
				<td mat-cell *matCellDef="let element">{{ element.era }}</td>
			</ng-container>

			<ng-container matColumnDef="Earned Runs">
				<th mat-header-cell *matHeaderCellDef matTooltip="Earned Runs">ER</th>
				<td mat-cell *matCellDef="let element">{{ element.earnedRuns }}</td>
			</ng-container>

			<ng-container matColumnDef="Shutouts">
				<th mat-header-cell *matHeaderCellDef matTooltip="Shutouts">SO</th>
				<td mat-cell *matCellDef="let element">{{ element.shutouts }}</td>
			</ng-container>

			<ng-container matColumnDef="Saves">
				<th mat-header-cell *matHeaderCellDef matTooltip="Saves">SV</th>
				<td mat-cell *matCellDef="let element">{{ element.saves }}</td>
			</ng-container>

			<ng-container matColumnDef="IP">
				<th mat-header-cell *matHeaderCellDef matTooltip="Innings Pitched">IP</th>
				<td mat-cell *matCellDef="let element">{{ element.inningsPitched | number: "1.1-3" }}</td>
			</ng-container>

			<ng-container matColumnDef="Hits">
				<th mat-header-cell *matHeaderCellDef matTooltip="Hits Allowed">Hits</th>
				<td mat-cell *matCellDef="let element">{{ element.hits }}</td>
			</ng-container>

			<ng-container matColumnDef="WHIP">
				<th mat-header-cell *matHeaderCellDef>WHIP</th>
				<td mat-cell *matCellDef="let element">{{ element.whip }}</td>
			</ng-container>

			<ng-container matColumnDef="HR">
				<th mat-header-cell *matHeaderCellDef>HR</th>
				<td mat-cell *matCellDef="let element">{{ element.homeRuns }}</td>
			</ng-container>

			<ng-container matColumnDef="Walks">
				<th mat-header-cell *matHeaderCellDef matTooltip="Walks">BB</th>
				<td mat-cell *matCellDef="let element" [matTooltip]="'Per Nine Inning: ' + element.walksPerNineInnings">
					{{ element.walks }}
				</td>
			</ng-container>

			<ng-container matColumnDef="Strikeouts">
				<th mat-header-cell *matHeaderCellDef matTooltip="Strikeouts">SO</th>
				<td mat-cell *matCellDef="let element" [matTooltip]="'Per Nine Inning: ' + element.strikeoutsPerNineInnings">
					{{ element.strikeouts }}
				</td>
			</ng-container>

			<ng-container matColumnDef="Avg Against">
				<th mat-header-cell *matHeaderCellDef matTooltip="Batting Average Against">Avg</th>
				<td mat-cell *matCellDef="let element">{{ element.battingAverage | number: "1.1-3" }}</td>
			</ng-container>

			<ng-container matColumnDef="OBP">
				<th mat-header-cell *matHeaderCellDef>OBP</th>
				<td mat-cell *matCellDef="let element">{{ element.obp | number: "1.1-3" }}</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayColumns()"></tr>
			<tr mat-row *matRowDef="let row; columns: displayColumns()"></tr>
		</table>
	</si-stats-filter>
}

<mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Select page of MLB pitchers"></mat-paginator>
