<mat-toolbar>
	<img height="50" src="logo.png" [routerLink]="['home']" />
	<button mat-button [routerLink]="['nfl', 'stats']">NFL</button>
	<button mat-button [routerLink]="['nba', 'stats']">NBA</button>
	<button mat-button [routerLink]="['mlb', 'stats']">MLB</button>
	<button mat-button [routerLink]="['lol', 'stats']">League of Legends</button>
	<!-- <button mat-button [matMenuTriggerFor]="statsMenu">Stats</button> -->
	<!-- <mat-menu #statsMenu="matMenu">
    <button mat-menu-item [routerLink]="['stats', 'nba']">NBA</button>
    <button mat-menu-item [routerLink]="['ranking', 'nfl']">NFL</button>
    <button mat-menu-item [routerLink]="['ranking', 'mlb']">MLB</button>
  </mat-menu>
  <button mat-button>Fantasy Center</button>
  <button mat-button [matMenuTriggerFor]="rankingMenu">
    Sports IQ - Rankings
  </button>
  <mat-menu #rankingMenu="matMenu">
    <button mat-menu-item [routerLink]="['ranking', 'nba']">NBA</button>
    <button mat-menu-item [routerLink]="['ranking', 'nfl']">NFL</button>
    <button mat-menu-item [routerLink]="['ranking', 'mlb']">MLB</button>
  </mat-menu>
  <button mat-button>AI</button> -->
</mat-toolbar>
<div id="app">
	<router-outlet></router-outlet>
</div>
