<mat-drawer-container [hasBackdrop]="true">
	<mat-drawer mode="over" position="end" #drawer>
		<div class="header">
			<h2>{{ title() }} Filters</h2>
			<mat-icon
				matTooltip="Adjust filters and 'weights' to rank players / teams as you see fit. Increasing column's number weights that stat more important
	while decreasing the column's weight will lessen it's importance in the overall rankings. Fitlers will also remove any that do not meet the criteria"
			>
				info
			</mat-icon>
		</div>

		<mat-tab-group>
			<mat-tab label="Weights">
				<div class="filters">
					@for (column of columns() | keyvalue; track $index) {
						<div class="filter">
							<span>{{ column.key }}</span>
							<span class="spacer"></span>
							<mat-form-field appearance="outline">
								<input
									matInput
									type="number"
									step="1"
									min="1"
									max="100"
									pattern="\d"
									[value]="column.value.weight"
									(input)="setFilterWeight(column.key, $event)"
								/>
							</mat-form-field>
							<mat-slide-toggle [checked]="column.value.isAsc" (change)="setFilterAsc(column.key, $event)">
								Is Asc
							</mat-slide-toggle>
						</div>
					}
				</div>
			</mat-tab>
			<mat-tab label="Filters">
				<div class="filters">
					@for (column of columns() | keyvalue; track $index) {
						<div class="filter">
							<span>{{ column.key }}</span>
							<span class="spacer"></span>
							<mat-button-toggle-group
								[hideSingleSelectionIndicator]="true"
								[value]="column.value.direction"
								(change)="setFilterDirection(column.key, $event)"
							>
								<mat-button-toggle value="greaterThan">&gt;</mat-button-toggle>
								<mat-button-toggle value="lessThan">&lt;</mat-button-toggle>
							</mat-button-toggle-group>
							<mat-form-field appearance="outline">
								<input
									matInput
									type="number"
									step="1"
									max="100"
									pattern="\d"
									[value]="column.value.filterValue"
									(input)="setFilterValue(column.key, $event)"
								/>
							</mat-form-field>
						</div>
					}
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-drawer>
	<mat-drawer-content>
		<div class="filter-header">
			<div>
				<mat-chip-set>
					@for (column of columns() | keyvalue; track column.key) {
						@if (column.value.weight > 1) {
							<mat-chip>
								<mat-icon matChipAvatar>sort</mat-icon>
								{{ column.key }}: {{ column.value.weight }}
							</mat-chip>
						}
						@if (column.value.filterValue != null) {
							<mat-chip>
								<mat-icon matChipAvatar>filter_alt</mat-icon>
								{{ column.key }}: {{ column.value.filterValue }}
							</mat-chip>
						}
					}
				</mat-chip-set>
			</div>
			<button mat-stroked-button (click)="drawer.toggle()">Filters</button>
		</div>
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
