<mat-drawer-container [hasBackdrop]="true">
	<mat-drawer mode="over" position="end" #drawer>
		<div class="header">
			<h2>{{ title() }} Weights</h2>
			<mat-icon
				matTooltip="Adjust filters 'weights' to rank players / teams as you see fit. Increasing column's number weights that stat more important
	while lowerly will decrease it's importance in the overall rankings"
			>
				info
			</mat-icon>
		</div>

		<div class="filters">
			@for (column of columns() | keyvalue; track $index) {
				<div class="filter">
					<span>{{ column.key }}</span>
					<mat-form-field appearance="outline">
						<input
							matInput
							type="number"
							step="1"
							min="1"
							max="100"
							pattern="\d"
							[value]="column.value.weight"
							(input)="setFilterWeight(column.key, $event)"
						/>
					</mat-form-field>
					<mat-slide-toggle [checked]="column.value.isAsc" (change)="setFilterAsc(column.key, $event)">Is Asc</mat-slide-toggle>
				</div>
			}
		</div>
	</mat-drawer>
	<mat-drawer-content>
		<div class="filter-header">
			<div>
				<mat-chip-set>
					@for (column of columns() | keyvalue; track column.key) {
						@if (column.value.weight > 1) {
							<mat-chip>
								<mat-icon matChipAvatar>keyboard_arrow_up</mat-icon>
								{{ column.key }}: {{ column.value.weight }}
							</mat-chip>
						}
					}
				</mat-chip-set>
			</div>
			<button mat-stroked-button (click)="drawer.toggle()">Weighting</button>
		</div>
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
