:host {
	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	h2 {
		margin: 8px auto;
		width: fit-content;
	}

	.filter-content {
		min-height: calc(100vh - 120px);
	}

	.filter-header {
		display: flex;
		justify-content: right;
		gap: 8px;
		margin-bottom: 8px;
	}

	.filters {
		display: flex;
		flex-direction: column;
		gap: 4px;
		margin: 4px 16px;

		.filter {
			align-items: center;
			display: flex;
			gap: 4px;

			.key {
				max-width: 100px;
			}

			.spacer {
				flex: 1;
			}

			mat-form-field {
				width: 100px;
			}
		}
	}
}
