<mat-drawer-container [hasBackdrop]="true">
	<mat-drawer mode="over" position="end" #drawer>
		<h2>
			{{ title() }} Weights
			<mat-icon
				matTooltip="Adjust filters 'weights' to rank players / teams as you see fit. Increasing column's number weights that stat more important
			while lowerly will decrease it's importance in the overall rankings"
			>
				info
			</mat-icon>
		</h2>

		<div class="filters">
			@for (column of columns() | keyvalue; track $index) {
				<div class="filter">
					<span>{{ column.key }}</span>
					<mat-form-field appearance="outline">
						<input
							matInput
							type="number"
							step="0.1"
							min="0"
							max="10"
							[value]="column.value"
							(input)="setFilter(column.key, $event)"
						/>
					</mat-form-field>
				</div>
			}
		</div>
	</mat-drawer>
	<mat-drawer-content>
		<div class="filter-header">
			<div></div>
			<button mat-stroked-button (click)="drawer.toggle()">Weighting</button>
		</div>
		<ng-content></ng-content>
	</mat-drawer-content>
</mat-drawer-container>
