<si-sidenav [sport]="sport()">
	<div id="ranking">
		<div class="header">
			<h2>{{ sport() | uppercase }} Rankings</h2>
			<span class="spacer"></span>
			<button mat-stroked-button (click)="openMatchupDialog()">Head-to-Head</button>
			<mat-form-field appearance="outline">
				<mat-label>Position</mat-label>
				<mat-select [value]="positions()" (selectionChange)="positions.set($event.value)" multiple>
					@for (position of positionResource.value(); track $index) {
						<mat-option [value]="position">{{ position }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Search</mat-label>
				<input matInput type="text" [formControl]="searchTerm" />
			</mat-form-field>
		</div>

		@if (rankingResource.isLoading()) {
			<mat-spinner class="center-spinner"></mat-spinner>
		} @else {
			<table mat-table [dataSource]="dataSource() ?? []" recycleRows>
				<ng-container matColumnDef="Rank">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element">{{ element.rank }}</td>
				</ng-container>

				<ng-container matColumnDef="Name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">{{ element.name }}</td>
				</ng-container>

				<ng-container matColumnDef="Age">
					<th mat-header-cell *matHeaderCellDef>Age</th>
					<td mat-cell *matCellDef="let element">{{ element.age }}</td>
				</ng-container>

				<ng-container matColumnDef="Position">
					<th mat-header-cell *matHeaderCellDef>Position</th>
					<td mat-cell *matCellDef="let element">{{ element.position }}</td>
				</ng-container>

				<ng-container matColumnDef="Rating">
					<th mat-header-cell *matHeaderCellDef>Rating</th>
					<td mat-cell *matCellDef="let element">{{ element.elo }}</td>
				</ng-container>

				<ng-container matColumnDef="Actions">
					<th mat-header-cell *matHeaderCellDef></th>
					<td mat-cell *matCellDef="let element">
						<button mat-stroked-button>Compare</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
			</table>
		}
	</div>
</si-sidenav>

<mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons aria-label="Select page of Player ranking"></mat-paginator>
