<si-sidenav [sport]="sport()">
	<div id="stats">
		<div class="header">
			<h2>{{ sport() | uppercase }} Stats</h2>
			<span class="spacer"></span>
			@if (type() === "players") {
				<mat-form-field appearance="outline">
					<mat-label>Position</mat-label>
					<mat-select [value]="positions()" (selectionChange)="positions.set($event.value)" multiple>
						@for (position of positionResource.value(); track $index) {
							<mat-option [value]="position">{{ position }}</mat-option>
						}
					</mat-select>
				</mat-form-field>
			}
			<mat-form-field appearance="outline">
				<mat-label>Type</mat-label>
				<mat-select [value]="type()" (selectionChange)="type.set($event.value)">
					@for (option of typeOptions(); track $index) {
						<mat-option [value]="option">{{ option | titlecase }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Year</mat-label>
				<mat-select [value]="year()" (selectionChange)="year.set($event.value)" placeholder="Select a Year" multiple>
					@for (year of yearsResource.value(); track $index) {
						<mat-option [value]="year">{{ year }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
		</div>

		<div class="content">
			@switch (tableType()) {
				@case (0) {
					<si-nba-player-table [years]="year()" [positions]="positions()"></si-nba-player-table>
				}
				@case (1) {
					<si-nba-team-table [years]="year()"></si-nba-team-table>
				}
				@case (4) {
					<si-mlb-hitter-table [years]="year()"></si-mlb-hitter-table>
				}
				@case (5) {
					<si-mlb-pitcher-table [years]="year()"></si-mlb-pitcher-table>
				}
			}
		</div>
	</div>
</si-sidenav>
