@use '@angular/material' as mat;

:host {
  .sidenav-container {
    height: 100vh;
    border-right: solid 1px var(--siq-border-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 65px;

    // Add smooth transition for width changes
    transition: width 0.3s ease-in-out;

    &.expanded {
      width: 165px;
    }

      .logo-icon {
    width: 65px;
    height: 65px;
  }

    .logo-text {
      font-size: 18px;
      color: var(--siq-brand-gold);
    }

    .logo-container {
      display: flex;
      align-items: center;
      gap: 4px;
      width: 100%;
      justify-content: left;
      border-bottom: solid 1px var(--siq-border-color);
    }
  }

  .user-profile {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .text-enter {
    animation: fade-in 0.5s forwards; // 0.1s delay
  }

  .text-leave {
    animation: fade-out 0.2s forwards; // No delay
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateX(-10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
