<div class="sidenav-container" [ngClass]="{ expanded: isExpanded() }">
  <div class="logo-container">
    <img src="assets/sportsiq-icon.svg" alt="SportsIQ Logo" class="logo-icon" />
    @if (isExpanded()) {
      <span animate.enter="text-enter" animate-leave="text-leave" class="logo-text">SportsIQ</span>
    }
  </div>
  @for (items of topNavItems(); track $index) {
    <siq-nav-item
      [icon]="items.icon"
      [title]="items.title"
      [showTitle]="isExpanded()"
      [width]="isExpanded() ? 165 : 65"
      (clicked)="items.action()"
    ></siq-nav-item>
  }

  <siq-spacer></siq-spacer>
  @if (isAuthenticated() && hasAccount()) {
    <div class="user-profile">
      <img [src]="profilePictureUrl()" height="40px" width="40px" />

      @if (isExpanded() ) {
        <span animate.enter="text-enter" animate-leave="text-leave" class="username">{{ username() }}</span>
      }
    </div>
  }

  @for (items of bottomNavItems(); track $index) {
    <siq-nav-item
      [icon]="items.icon"
      [title]="items.title"
      [showTitle]="isExpanded()"
      [width]="isExpanded() ? 165 : 65"
      (clicked)="items.action()"
    ></siq-nav-item>
  }
</div>
